In [1]:
import pandas as pd
import numpy as np

In [5]:
# Sample DataFrame
data = {'Column1': [1, 2, 3], 'Column2': [4, 5, 6], 'Column3': [7, 8, 9]}
df = pd.DataFrame(data)
df

   Column1  Column2  Column3
0        1        4        7
1        2        5        8
2        3        6        9

In [7]:
## using drop method

# Drop a single column
df_new = df.drop('Column2', axis=1)

# Drop multiple columns
df_new = df.drop(['Column1', 'Column3'], axis=1)

# Drop columns by index
df_new = df.drop(df.columns[1], axis=1)  # Drop the second column

In [9]:
## using boolean indexing


# Create a boolean mask for the columns to keep
columns_to_keep = ['Column1', 'Column3']
df_new = df[columns_to_keep]